::deep .game-background {
    position: relative;
}

.titulo-fixo {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    z-index: 10;
}

.conteudo-dinamico {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.main-menu {
    margin-top: 5%;
    width: 20%;
    font-size: 48px;
}

    .main-menu button {
        background-color: #22222200;
        color: #fff;
        margin-bottom: 0px;
    }

.aviso {
    padding: 0 10%;
    width: 80%;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

    .aviso button {
        margin-left: 25%;
        margin-top: 5%;
        width: 50%;
    }

    

.btn-sim {
    background-color: #d62828;
    color: white;
    font-size: 30px;
}
.btn-nao{
    background-color: #222222;
    color: white;
    font-size: 30px;
}